vendor/
config/secrets-manager/test/keyring/*.keyring
config/secrets-manager/test/keyring/*.checksum
config/secrets-manager/test/master-keys/*.key
config/secrets-manager/test/config.json
config/secrets-manager/test/secrets/*.vault

composer.phar
composer.lock
.phpunit.result.cache
.env.test